<h1>Calculate the Mean, Median, and Mode</h1>

<p>Input a list of numbers, seperated by comma.</p>

<div>
    <form>
        <input name='numInput' #numInput='ngModel' ngModel type="text" pattern="(^$)|(^(\d+)(,\s*\d+)*$)" (keyup.enter)="OnInput($event)" required />
    </form>
</div>

<p aria-live="polite" *ngIf="calculation.mean !== null">Mean: <strong>{{ calculation.mean }}</strong></p>
<p aria-live="polite" *ngIf="calculation.median !== null">Median: <strong>{{ calculation.median }}</strong></p>
<p aria-live="polite" *ngIf="calculation.mode === null">No Mode</p>
<p aria-live="polite" *ngIf="calculation.mode !== null && calculation.mode.length === 1">Mode: <strong>{{ calculation.mode }}</strong></p>
<p aria-live="polite" *ngIf="calculation.mode !== null && calculation.mode.length === 2">Bimodal: <strong>{{ calculation.mode }}</strong></p>
<p aria-live="polite" *ngIf="calculation.mode !== null && calculation.mode.length > 2">Multimodal: <strong>{{ calculation.mode }}</strong></p>
